*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* globals */

.text-center {
  text-align: center;
}

.home-section {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background: no-repeat fixed url('./images/home-bg-img.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.home-section::after {
  content: '';
  top: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  background: hsl(0 0% 0% / 0.2);
}

.shop-btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 2rem;
  padding: 0.25em 0.75em;
  color: #000;
  background-color: hsl(73 98% 51%);
  border: 0;
  z-index: 20;
  text-decoration: none;
  border-radius: 0.5rem;
}

.home-title {
  font-size: 4rem;
  z-index: 20;
}

.shop-btn:hover {
  background-color: hsl(73 98% 51% / 0.8);
  transform: scale(1.2);
}

.category-page,
.cart-page {
  position: relative;
  display: flex;
  justify-content: center;
}

.category-title {
  text-transform: capitalize;
}

.products {
  width: min(800px, 75%);
  margin-left: 10rem;
}

.product-grid {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 1rem;
}

.cart-title {
  text-align: center;
  z-index: 5;
}

.check-out {
  position: fixed;
  right: 0;
  top: 6rem;
  padding: 1em;
}

.check-out-btn {
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.4rem;
  border: 0;
  color: #fff;
  background-color: hsl(216, 98%, 40%);
}

.check-out-btn:hover {
  transform: scale(1.125);
}

.check-out-amount {
  font-weight: 700;
  font-size: 2rem;
}
